


body {
	overflow-x: hidden;
	width: 100%;
	margin:0;
	padding: 0;
	font-family: 'Public Sans', sans-serif;
	background-color: #F8E559;
}

.profile h1 {
	font-family: 'Darker Grotesque', cursive;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}


h2, h3, h4, h5 {
	font-family: 'Darker Grotesque', sans-serif;
}

h2 {
	font-size: 2em;
}

.dashboard {
	padding: 1em;
	padding-right: 1.5em;
}

.tarjeta {
	margin: 10%;
	box-shadow: 7px 10px 0px 3px #332941;
	-webkit-box-shadow: 7px 10px 0px 3px #332941;
	-moz-box-shadow: 7px 10px 0px 3px #332941;
	border-radius: 10px;
	padding: 20px;
	background-color: #864AF9;
	
}

.tarjeta p{
	margin: 7%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: justify;
	color: white;

}

.tarjeta:hover {
	transform:translateY(-3%);
	transition:all 500ms ease;
}

.profile  {
	margin: 15px;
	background-color: #3B3486;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.profile > div {
	margin-top: 2em;
	display: flex;
	align-items: center;
	gap: 2em;
}

.profile h2 {
	line-height: 100%;
}

.profile img {
	width: 16vw;
	padding-left: 1em;
	padding-top: 1em;
}

.profile h1 {
	font-size: 10vw;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 100%;
}

.profile h2 {
	text-align: center;
	margin-top: 0;
}


.data {
	display: flex;
	justify-content: space-between;
}



.achievements {
	display: flex;
	justify-content: space-between;
	gap: 1em;
}

.achievements > div {
	margin: 1em;
	width: 50%;
	margin-bottom: 3em;
}

.data {
	padding: 1em;
}

.data > div {
	margin: 3em;
	width: 33%;
	margin-left: 0;
	margin-bottom: 1em;
}

.data > div:first-child {
	margin-left: 0px;
}

.data > div:last-child {
	margin-right: 0px;
}

@media only screen and (max-width: 1130px) {
  .data, .achievements {
    display: block;
  }
	
	.data > div {
		width: calc(100% - 2em);
	}
	 .achievements > div {
		width: calc(100% - 4em);
	}
	
	.profile > div {
		display: block;
		text-align: center;
	}
	
	.profile > div > img {
		width: 90%;
		max-width: 300px;
		margin: auto;
		margin-bottom: 2em;
	}
	
	.subtitle {
		padding-left: 3em;
	}
	
	.subtitle {
		margin-left: -0.5em;
	}
	
	table {
		width: 100%;
	}
	
}


.subtitle {
	display: flex;
	align-items: center;
	gap: 1em;
	margin-bottom: 1em;
	position: relative;
	text-align: center;
}

.subtitle img {
	height: 120px;
	left: -40px;
	top: -40px;
	position: absolute;
}

.subtitle h2 {
	text-align: center;
	width: 100%;
	font-size: 2em;
}







a {
	color: black;
}



